BODY { background: #ffffff; font-family: helvetica; font-size: 12pt; }
H1   { font-family: lucida; font-size: 18pt; }
H2   { font-family: lucida; font-size: 16pt; }
H3   { font-family: lucida; font-size: 14pt; }
PRE  { font-family: lucida; font-size: 10pt; }
FORM { font-family: lucida; font-size: 8pt; }
